# This file serves as a template for what the user should include in their own person config.env file to make this application run properly.

# Instapaper login credentials
INSTAPAPER_USERNAME = your_instapaper_email@example.com
INSTAPAPER_PASSWORD = your_instapaper_password