# This file serves as a template for what the user should include in their own person config.env file to make this application run properly.

# Instapaper login credentials
INSTAPAPER_USERNAME = your_instapaper_email@example.com
INSTAPAPER_PASSWORD = your_instapaper_password

# NYT credentials
NYT_API_KEY = your_nyt_api_key

# User interests / article selection
USER_INTERESTS = List out your interests here as comma separated list (i.e. Sports, Politics)
USER_INTERESTS_DESCRIPTION = Provide description of your interest
TOP_STORIES_COUNT = Integer count of how many top stories you want sent to Instapaper